{namespace Dashboard.Item.Tutorial.Templates}

/**
 * @param pluginName
 * @param version
 */
{template .Static}
    <div>Welcome to <span class="aui-lozenge aui-lozenge-success">{$pluginName}</span> v{$version}!</div>
{/template}